/*
 * Globals
 */

/* Links */
h1 {
    font-weight: bold;
    color: rgba(0, 102, 204, 0.883);
}

h2 {
    font-size: 14pt;
    font-weight: bold;
    color: black;
}

h3 {
    font-size: 10pt;
    font-weight: bold;
    color: black;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
    background: #333 url(../img/fondo.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

body {
    padding-top: 3.5rem;
    display: -ms-flexbox;
    /* text-shadow: 0 0.05rem 0.1rem rgb(225, 238, 239); */
    /* box-shadow: inset 0 0 5rem rgb(31, 12, 1); */
}

.jumbotron {
    background-color: #efddbf;
}

.jumbotron-wc1 {
    padding: 1rem 1rem;
    margin-top: 0em;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    background-color: #b17610;
}

.jumbotron-wc2 {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0.5px;
    border-radius: 1rem;
    background: url(../img/fondo.gif) center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: 0.2rem 0.25rem;
    font-weight: 700;
}

#wc-center::placeholder {
    color: red;
    text-align: center;
    padding-top: 30px;
}

main > .container {
    padding: 5px 15px 0;
}

code {
    font-size: 80%;
}

fieldset {
    background-color: #eeeeee;
    border: 1px solid rgb(7, 186, 61);
    padding: 5px;
}

legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
    font-family: -apple-system, helvetica, arial, sans-serif;
    font-size: 15px;
    vertical-align: baseline;
    width: 40%;
}

table {
    /* width: 100%; */
    border: 1px solid rgb(7, 186, 61);
    border-collapse: separate;
    border-spacing: 5px;
    color: #fff;
}
th {
    font-size: 15pt;
    font-weight: bold;
    color: white;
    background: #0066cc;
    text-align: center;
    vertical-align: center;
    border: 1px solid rgb(7, 186, 61);
    padding: 0.3em;
}

td {
    font-size: 16pt;
    vertical-align: center;
    border: 1px solid rgb(7, 186, 61);
    padding: 0.3em;
    color: rgb(16, 187, 19);
}

.rigth td {
    font-size: 10pt;
    text-align: right;
    color: rgb(231, 235, 11);
}

.left td {
    font-size: 10pt;
    text-align: left;
    color: rgb(231, 235, 11);
}

/*
 * Navbar
 */

.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 7px;
}

.mx-bg-top-linear {
    background: -webkit-linear-gradient(45deg, #54d400 48%, #1b1e21 48%);
    background: -webkit-linear-gradient(left, #54d400 48%, #1b1e21 48%);
    background: linear-gradient(45deg, #b17610 48%, #1b1e21 48%);
}

/*
 * Footer
 */

.wcfooter {
    color: rgb(255, 255, 255);
    padding: 28px 0;
    margin-top: 55px;
}

.wcfooter span,
.wcfooter b,
.wcfooter a {
    color: #ffffff;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.wcfooter a:hover {
    color: #007bff;
}

.back-to-top {
    position: relative;
    z-index: 2;
}
.back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #fa6742;
    border-color: #fa6742;
}
